APP_NAME=PyTorch Ticket Classifier API
APP_VERSION=0.1.0
API_PORT=8008
MODELS_DIRECTORY=models
DEFAULT_MODEL_VERSION=ticket_classifier_v1
BASE_MODEL_NAME=distilbert-base-uncased
ALLOW_DEGRADED_STARTUP=true
